.brand {
    width: 50%;
    color: blueviolet;
    background-color: seagreen;
}
.nav
{
    width: 70%;
    color: rgb(0, 51, 255);
    background-color: rgb(187, 56, 3);
}
#header
{
    display: flex;
    margin: 20px;
    border: 2px solid #0e0f0f;
    border-radius: 10px;
    

}
#header ul
{
    opacity: 0.2;
    list-style-type: none;
}
h1
{
    text-align: center;
    text-shadow: 0rcaps 2px 2px 4px #16bfb4;
    font-size: 30px;
    color: rgb(255, 0, 204);
}